@import "mixin";
//-----------------\\
//-----Обнуление----------////
@import"begining";
//-------------------//
//////-------body------------//
//Основная сеька-----------//
.wrapper {
    background-color: rgb(249, 246, 247);
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

@import "tours";
@import"about_Japan";
@import "header";
@import"about_us";
@import "main";
@import "footer";